<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color = "primary">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Alicuotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Pendientes</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-item>
        <ion-label>
          <h2> AGOSTO</h2>
          <p>Vence: 10/Agosto/2020</p>
          <p>Total: $55</p>
        </ion-label>      
      </ion-item>
      <ion-item>
        <ion-label>
          <h2> JULIO</h2>
          <p>Vence: 10/Julio/2020</p>
          <p>Total: $55</p>
        </ion-label>      
      </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Pagadas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-item>
        <ion-label>
          <h2> JUNIO</h2>
          <p>Vence: 10/Junio/2020</p>
          <p>Total: $50</p>
        </ion-label>      
      </ion-item>
      <ion-item>
        <ion-label>
          <h2> MAYO</h2>
          <p>Vence: 10/Mayo/2020</p>
          <p>Total: $30</p>
        </ion-label>      
      </ion-item>
  </ion-card-content>
  </ion-card>

</ion-content>
