<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color = "primary">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Visitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>  
    <ion-label>VISITAS EN ESPERA</ion-label>
  </ion-item>  
      <ion-card>
        <img src="../../assets/cedula.jfif" />
        <ion-card-header>
          <ion-card-title>Maria Larrea</ion-card-title>
          <ion-card-subtitle>16:10 - Puerta 2</ion-card-subtitle>
          <ion-item>               
          <ion-button fill="outline"   size='small'>
            Autorizar
          </ion-button>
        
          <ion-button color="danger" fill="outline" size='small'>
            Negar
          </ion-button>
        
          
          </ion-item>
          
        </ion-card-header>
      </ion-card>
  
  <ion-item>  
    <ion-label>VISITAS PASADAS</ion-label>
  </ion-item> 
  <ion-card>
      <ion-item>
        <ion-label>
          <h2> Kevin Wong</h2>
          <p>Ingreso: 10/Agosto/2020</p>
          <p>Autorizada: 13:15</p>
        </ion-label>      
      </ion-item>
      
  </ion-card>
      
</ion-content>
